// font-family: 'Mukta', sans-serif;
// font-family: 'MuseoModerno', cursive;

$opportunity-font: 'MuseoModerno', cursive, sans-serif, Helvetica ;
$main-font: 'Mukta', sans-serif, Helvetica;
$main-color: #E44235;

html {
    box-sizing: border-box;
}

p, h2 {
    font-family: $main-font;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.main {
    max-width: 1400px;
    margin:0 auto;
}

.navbar {
    background-color: $main-color;
}

.logo
{
    font-family: $opportunity-font;
    font-size: 20px;
}


.search-page {
    background-image: url(../assets/images/background.webp);
    opacity: 0.9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;

    .form {
        border-radius: 20px;
        background-color: rgba(160, 160, 160, 0.7);
        
        p {
            font: 700 large;
            color : rgb(34, 34, 34);
        }
    }

    h1 {
        font-weight: bold;
        text-shadow: -3px -1px 5px rgba(136, 61, 61, 0.937);
    }

    span {
        font: 700 $opportunity-font;
    }


    p {
        color: black;
    }

    .btn {
    width: auto;
    background-color: $main-color;
    }
}

.four-steps {
    i {
        font-size: 30px;
    }
    h2{
        font: large 700;
        color: $main-color;
        span {
            font: $opportunity-font;
        }

    }

    h3 {
        font: 700 large;
        color: $main-color;
    }
    
}

.adds {

    img {
    
        border-radius: 50%;
        // max-width: 280px;
        // max-height: 280px;
    
    }

    h2 {
        color: white;
    }
    
    p {
        font: large;
        color: WHITE;
    }
    
    .btn {
        background-color: rgb(77, 73, 73);
        border: none;
    }
}

.add1 {
    background-color:rgb(86, 126, 214);
    
}

.add2 {
    background-color: rgb(211, 119, 76);
}

.add3 {
    background-color: gray;
}


.footer {
    background-color: black;
   
    .footer-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        a {
            padding: 6px;
            text-decoration: none;
            color: white;
        }
    }
    
    h2 {
        color: $main-color;
        font-size: medium;
        margin-top: 40px;
    }

    .btn {
        background-color: rgb(77, 73, 73);
        color: white;
    }

    input[type=email] {
        background-color: black;
    }

    .know-us {
        color: $main-color;
    }

    .footer-bottom {
        background-color: rgb(77, 73, 73);
        a {
            color: $main-color;
        }
    }
}


.main-form {
    max-width: 700px;
    border-radius: 10px;
}